.geo-color {
    color: var(--geo-color)
}
.geo-background {
    background-color: var(--geo-color);
}
.geo-border {
    border-color: var(--geo-color);
}
.geo-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--geo-color));
    filter: drop-shadow(1px 0 5px var(--geo-color));
}

.anemo-color {
    color: var(--anemo-color)
}
.anemo-background {
    background-color: var(--anemo-color);
}
.anemo-border {
    border-color: var(--anemo-color);
}
.anemo-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--anemo-color));
    filter: drop-shadow(1px 0 5px var(--anemo-color));
}

.pyro-color {
    color: var(--pyro-color)
}
.pyro-background {
    background-color: var(--pyro-color);
}
.pyro-border {
    border-color: var(--pyro-color);
}
.pyro-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--pyro-color));
    filter: drop-shadow(1px 0 5px var(--pyro-color));
}

.hydro-color {
    color: var(--hydro-color)
}
.hydro-background {
    background-color: var(--hydro-color);
}
.hydro-border {
    border-color: var(--hydro-color);
}
.hydro-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--hydro-color));
    filter: drop-shadow(1px 0 5px var(--hydro-color));
}

.electro-color {
    color: var(--electro-color)
}
.electro-background {
    background-color: var(--electro-color);
}
.electro-border {
    border-color: var(--electro-color);
}
.electro-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--electro-color));
    filter: drop-shadow(1px 0 5px var(--electro-color));
}

.cryo-color {
    color: var(--cryo-color)
}
.cryo-background {
    background-color: var(--cryo-color);
}
.cryo-border {
    border-color: var(--cryo-color);
}
.cryo-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--cryo-color));
    filter: drop-shadow(1px 0 5px var(--cryo-color));
}

.dendro-color {
    color: var(--dendro-color)
}
.dendro-background {
    background-color: var(--dendro-color);
}
.dendro-border {
    border-color: var(--dendro-color);
}
.dendro-shadow {
    -webkit-filter: drop-shadow(1px 0 5px var(--dendro-color));
    filter: drop-shadow(1px 0 5px var(--dendro-color));
}
