.lists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.lists {
    display: flex;
    flex-wrap: wrap;
}

.lists .list-item {
    width: 200px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
.lists .list-item:last-of-type {
    margin-right: 0;
}

.lists .list-item-image-block {
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid rgba(30, 30, 30, 0.5);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.lists .list-item-image {
    max-width: 198px;
    max-height: 198px;
    padding: 0;
    margin: 0;
}
.lists .list-item-info {
    display: flex;
    justify-content: center;
}
