:root {
    /* element colors */
    --geo-color: #be9a4e;
    --anemo-color: #72e2c3;
    --pyro-color: #fe625d;
    --hydro-color: #21e1eb;
    --electro-color: #a757cb;
    --cryo-color: #8ac3ca;
    --dendro-color: #15a340;

    /* main colors */
    --background-color: #444974;
    --main-color: #5b608f;
    --additional-color: #565b8a;

    --navbar-top-height: 50px;
    --navbar-side-width: 270px;
}
